<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
   <extension
         name="Inference Explorer"
         point="org.eclipse.ui.views">
      <view
            category="Inference Explorer"
            class="de.fzi.ipe.trie.debugger.DebugView"
            icon="icons/bug.gif"
            id="de.fzi.ipe.trie.debugger.InferenceExplorer"
            name="Inference Explorer"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
   </extension>
   <extension
         point="de.fzi.ipe.trie.fileManagement.fileManagementListener">
      <Listener
            ClassName="de.fzi.ipe.trie.debugger.DatamodelAccess">
      </Listener>
   </extension>
   <extension
         point="de.fzi.trie.evaluationLogger.Logable">
      <Logable
            ClassName="de.fzi.ipe.trie.debugger.DebugLogger">
      </Logable>
   </extension>
</plugin>
