<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.fzi.ipe.trie.proceduraldebugger.ProceduralDebugView"
            id="de.fzi.ipe.trie.proceduraldebugger.ProceduralDebugView"
            name="Procedural Debugger"/>
   </extension>
   <extension
         point="de.fzi.ipe.trie.fileManagement.fileManagementListener">
      <Listener
            ClassName="de.fzi.ipe.trie.proceduraldebugger.model.DatamodelAccess">
      </Listener>
   </extension>
   <extension
         point="de.fzi.trie.evaluationLogger.Logable">
      <Logable
            ClassName="de.fzi.ipe.trie.proceduraldebugger.DebugLogger">
      </Logable>
   </extension>

</plugin>
