<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.fzi.ipe.trie.fileManagement.fileManagementListener" name="File Management Listener" schema="schema/de.fzi.ipe.trie.fileManagement.knowledgeBaseListener.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.fzi.ipe.trie.filemanagement.FileView"
            id="de.fzi.ipe.trie.debugger.FileView"
            name="FileView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="de.fzi.ipe.trie.filemanagement.EarlyStartupManager"/>
   </extension>
   <extension
         point="de.fzi.trie.evaluationLogger.Logable">
      <Logable
            ClassName="de.fzi.ipe.trie.filemanagement.DebugLogger">
      </Logable>
   </extension>

</plugin>
